<div>
    <h2 class="mb-3 mt-3">Profile</h2>

    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="newname" placeholder="">
        <label for="username">New name</label>
    </div>

    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="newemail" placeholder="name@example.com">
        <label for="email">New email address</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="oldpasswd" placeholder="Old password">
        <label for="passwd">Old password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="newpasswd" placeholder="New password">
        <label for="passwd">New password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="confirmpasswd" placeholder="Confirm new password">
        <label for="passwd">Confirm password</label>
    </div>

    <button class="btn btn-primary mb-3" onclick="login()">Login</button>
</div>